/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--space: 2rem;
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--brick-light: rgb(228, 169, 140);
	--gray-dark: 34, 41, 57;
	--gray-gradient: var(--brick-light), rgb(255, 202, 156);
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	--usonian: rgb(148, 14, 14);
	--roof-gray: rgb(98, 84, 76);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: rgba(228,137,93,.6);
	background: linear-gradient(180deg, rgb(234, 161, 124) 0%, rgba(243,183,154,1) 33%, rgba(255,202,156,1) 100%) no-repeat;
	background-size: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;	
}
main {
	margin: auto;
	padding: 0em 1em;
	display: grid;
	grid-template-areas: "a b";
	justify-content: space-between;
	border-top-width: 1em;
	border-top-style: solid;
	border-top-color: var(--usonian);
}
article {
	grid-area: a;
	width: 75%;
	padding-left: 6em;
	overflow-wrap: break-word; 
	align-items: start;
}

aside {
	grid-area: b;
}

.b{
	max-width: 25vw;
	min-width: 20vw;
	--offset: var(--space);
  	padding-right: 1em;
  	align-items: start;
  	justify-content: space-between;
  	position: sticky;
  	top: var(--offset);
  	display: grid;
}

.a {
	grid-area: a;
}

.pillar-verticals {
    display: grid;
    grid-template-areas: "A B C D E";
    grid-template-columns: 2em 2em 2em 2em 2em;
    height: 100%;
	grid-area: b;
  }

  .two {
    background-color: var(--usonian);
    justify-self: center;
    width: 1rem;
    grid-area: B;
  }
  .four {
    background-color: var(--usonian);
    justify-self: center;
    width: 1rem;
    grid-area: E;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

